{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock %}
{% load static %}
{% block css %}<link href="{% static 'style.css' %}" rel="stylesheet">{% endblock %}

{% block body %}
<div class="row content text-center">
  <div class="container text-left profile_info white-bg"> 
    <h2>Edit your profile</h2>
    <form method="POST" enctype="multipart/form-data">
      <div class="form-group">
        {% csrf_token %}
        {% for field in form %}
        <fieldset class="control-group">
          <label class="control-label" for="id_{{ field.name }}">
            {{ field.label }}
          </label>
          <div class="controls">
            {{ field }}
            <p class="help-text">
              {{ field.help_text }}
            </p>
          </div>
        </fieldset>
        {% endfor %}
        <input type="submit" value="< Submit />" class="btn btn-danger" />
      </div>
    </form>
  </div>
</div>
{% endblock %}