{% extends 'base.html' %}
{% load static %}
{% block body %}
<ul>
    {% if request.user != profile.user %}
        {% if profile.user in user_follows %}
            <form action='' method='POST'>
                {% csrf_token %}
                <button type="submit" name="unfollow">Unfollow</button>
            </form>
        {% else %}
            <form action='' method='POST'>
            {% csrf_token %}
                <button type="submit" name="follow">Follow</button>
            </form>
        {% endif %}
    {% else %}
        <a href="{% url 'edit_profile' %}"><button>Update Profile</button></a>
    {% endif %}
    <div class="container">
        <h1>{{ profile.user.username }}'s profile</h1>
        {% if profile.profile_picture %}
            <img src="{{ profile.profile_picture.url }}" height = 100, width= 100/>
        {% else %}
            <img src="{% static 'cf_logo.png' %}"height = 100, width= 100/>
        {% endif %}
        <p>About: {{ profile.about }}</p>
    </div>

<div class="container text-center"> 
 {% if follows %}  
    <div class="row">
    <h3>Following:</h3>
    {% for fellow in follows %}
        <a href="{% url 'profile_other' fellow.username %}"><div class="col-sm-2 following_list">
            {% if fellow.profile.profile_picture %}
                <img src="{{ fellow.profile.profile_picture.url }}" class="img-responsive" style="width:100%" alt="Image"height = 100, width= 100>
            {% else %}
                <img src="{% static 'cf_logo.png' %}"height = 100, width= 100/>
            {% endif %}
        <p>{{ fellow.username }}</p>
        </div></a>
    {% endfor %}
    {% endif %}
    </div>

     {% if followed_by %}
    <div class="row">
    <h3>Followed By:</h3>
    {% for fellow in followed_by %}
         <a href="{% url 'profile_other' fellow.user.username %}"><div class="col-sm-2 followed_by_list">
        {% if fellow.profile_picture %}
            <img src="{{ fellow.profile_picture.url }}" class="img-responsive" style="width:100%" alt="Image"height = 100, width= 100>
        {% else %}
            <img src="{% static 'cf_logo.png' %}"height = 100, width= 100/>
        {% endif %}
      <p>{{ fellow.user.username }}</p>
    </div></a>
        
    {% endfor %}
    {% endif %}
    </div>
    </div><br>

</ul>
{% endblock %} 
 