body{
    background-image: url("/static/images/handshake.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center; 
    width: 100vw;
    height: 80vh;
    position: relative;
}

.homebox{
    border: 1px solid red;
    border-radius: 5%;
    height:200px;
    margin: 1%;
    background-color: gray;
}

.homebox_header{
    background-color: white;
    width: 100%;
    color: black;
    padding: 0;
    margin:0;
}

.homebox_header h3{
    color: black;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    color: black;
}

.followed_by_row, .following_row {
    border-left: 1px solid black;
    border-radius: 10px;
    margin-bottom: 1%;
    background-color: black;
    padding: 1%;
    margin-right: 0px;

}

#post_section{
    color:white;
}
.post_section{
    background-color: black;
    border-radius: 10px;
    width: 100%;
    padding-bottom: 10px;
}

.post_list{
    border: 1px solid black;
    border-radius: 10px;
    padding-bottom: 2%;
    background-color: white;
}
.post_row{
    margin-top: 1%;

}

.followed_by_list, .following_list{
    padding: 1%;
    display: inline-block;
    text-align: center;
}


.profile_info{
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 5% 2% 5%;
    margin-top: 2%
}

.profile_quick_jumps{
    padding-top: 2%;
}

.scrollable_feed{
    height: 300px;
    overflow: auto;
    overflow-x: hidden;
    border: 3px solid black;
}

.navbar-brand{
    position: relative;
    left: 8.45px;
    bottom: 4.5px ;
}

textarea, select, input {
    color: black;
}

.img-responsive {
    margin-bottom: 10px;
}

.footer{
    background-color: black;
    height: 100px;
}

html {
    background-color: black;
}

.navbar {
    margin-bottom: 0px;
}

.login-box {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.white {
  color: white;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.avatar {
    width: 100px;
    height: 100px;
}

.white-bg {
    background-color: white;
}

@media (max-width: 600px) {
    .hide_mobile {
        display: none;
    }
    h1 {
        font-size: 25px;
    }
}

.container, hr {
    width: 90%;
}

li {
    list-style: none;
}

footer {
    padding: 5%;
}

.handshake {
    background-image: url("/static/images/handshake.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center; 
    width: 100vw;
    height: 80vh;
    position: relative;
    text-align: center;
}

.img-responsive {
    width: 100%;
}