{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Changa+One|Kalam|VT323" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'source/jquery.fancybox.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'source/helpers/jquery.fancybox-thumbs.css' %}" type="text/css" media="screen" />
    {% block css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">jaims</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
 
            <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}">Logout</a></li>
              {% else %}
              <li><a href="{% url 'registration_register' %}">Register</a></li>
              <li class="active"><a href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'source/jquery.fancybox.pack.js' %}"></script>
    <script type="text/javascript" src="{% static 'source/helpers/jquery.fancybox-thumbs.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>