{% extends 'base.html' %}

{% block title %}The Founders{% endblock %}

{% block body %}
  <div class="row content text-center">
    <div class="container text-left profile_info white-bg"> 
      <div class="container">
    <h1>The Founders</h1>
    <h4>Project Repo: <a href="https://github.com/CodeFN/thecodefellowsnetwork" target="_blank">https://github.com/CodeFN/thecodefellowsnetwork</a></h4>
    <p>We are students of Python 401d5, the first Python cohort taught by Nicholas Hunt-Walker at Code Fellows.</p>
    <h2>Marc Fieser</h2>
    <img src="https://avatars0.githubusercontent.com/u/22160299?v=3&s=400" class="avatar"/>
    <p>My name is Marc, and was born and raised nearby in Woodinville, WA. I spent 9 years in the US Army and have a computer science degree from University of Washington. I am a Python Developer.</p>

    <h2>Ben Shields</h2>
    <img src="https://avatars1.githubusercontent.com/u/11498059?v=3&s=400" class="avatar"/>
    <p>My name is Ben, I was born and raised in Washington. I am a Python Developer.</p>

    <h2>Ben Petty</h2>
    <img src="https://avatars2.githubusercontent.com/u/22062601?v=3&s=400" class="avatar">
    <p>My name is Ben, I was born and raised in Washington. I am a Python Developer.</p>


      </div>
</div>
</div>
{% endblock %}
