{% extends 'base.html' %}
{% block body %}
  <div class="container-fluid text-center">  
  {% if request.user.is_authenticated %} 
    <div class="col-sm-12 text-left"> 
        <p>Logged in as: {{ request.user }}</p>
    </div>
    <div class="row content">
    <div class="col-sm-2 sidenav"></div>
    <div class="col-sm-8 text-left"> 
      <h1>The Code Fellows Network</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <hr>
    </div>
    {% else %}
        <div class="row content">
        <div class="col-sm-2 sidenav"></div>
        <div class="col-sm-4 text-left homebox"> 
        <p>
        <h3>Welcome to the Code Fellows Network</h3>
            <ul>
             <li>Follow your fellow Code Fellows!</li>
             <li>Post links to your deployed sites!</li>
             <li>Share resources that helped you!</li>
            </ul>

        </p>
        </div>
        <div class="col-sm-4 text-left homebox"> 
        <p>
        <h3>Log in or sign up with Github!</h3>
             <a href="{% url 'social:begin' 'github' %}"><button class="btn btn-lg btn-primary btn-block" type="submit">Log In / Register</button></a>

        </p>
        </div>
        <div class="col-sm-2 sidenav"></div>
    {% endif %}
  </div>
</div>
{% endblock %}